@import "./base.css";

a {
  color: var(--link-text);
  transition: color ease-in-out var(--hover-on-phase);
  text-decoration: none;
}

#app {
  margin: 4rem 1rem;
}

.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    color: var(--iris);
  }

  a.external:hover {
    color: var(--love);
  }
}

@media screen and (max-width: 700px) {
  #app {
    margin-top: 4rem;
  }
}
