@import "./base.css";

#app {
    margin: 4rem 1rem;
}

.default-button {
    width: fit-content;
    border: 2px solid var(--text);
    border-radius: 1em;

    padding: 8px;
    margin: 5px;

    background-color: transparent;
    color: var(--text);
}

@media screen and (max-width: 700px) {
    #app {
        margin-top: 4rem;
    }
}
